name: Deploy Turing Labs Project

on:
  push:
    branches:
      - main

env:
    AWS_REGION: ${{ secrets.AWS_REGION }}
    AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

jobs:
    deploy-infrastructure:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/TuringLabsGitHubActionsRole
                aws-region: ${{ env.AWS_REGION }}

            # --- Terraform Deployment Steps ---

            - name: Setup Terraform
              # Use the official HashiCorp action to install Terraform
              uses: hashicorp/setup-terraform@v3

            - name: Terraform Init
              id: init
              run: terraform init
              working-directory: ./infra
              
            - name: Terraform Apply
              id: apply
              run: terraform apply -auto-approve
              working-directory: ./infra
